h2 {
  font-weight: unset;
}

p {
  margin: 0;
}

.email-app {
  background-color: rgb(243, 243, 243);
  flex: 1;
  color: #1f1f1f;
}

.email-list {
  margin-top: 50px;
  background-color: white;
  width: 400px;
}

.email-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-bottom: 1px solid rgb(228, 227, 227);
  white-space: nowrap;
  overflow: hidden;
}

.email-item:hover {
  background-color: #0079d62a;
}

.display-toggle-btn {
  position: absolute;
  left: 10px;
  left: 10px;
  top: 67px;
  font-size: 1.6rem;
  background-color: #f3f3f3;
  border: none;
  color: #0078d6;
  cursor: pointer;
}

.display-toggle-btn:hover {
  font-size: 1.7rem;
}

.email-details-container {
  margin-top: 50px;
  position: relative;
  flex: 1;
  background-color: #fff;
  border-left: 1px solid rgb(228, 227, 227);
}

.details-body {
  margin: 20px 0;
}

.active-side-item {
  background-color: #0079d62a;
}

.rubbish-bin-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../img/email/rubbish-bin.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  right: 45px;
  top: 10px;
  cursor: pointer;
}

.reply-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../img/email/reply.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}

.star-btn {
  width: 20px;
  height: 20px;
  border: none;
  background-image: url(../img/email/starred.svg);
  background-repeat: no-repeat;
  background-size: 20px;
  position: absolute;
  right: 80px;
  top: 10px;
  cursor: pointer;
}

.rubbish-bin-btn:hover, .reply-btn:hover, .star-btn:hover {
  background-size: 21px;
}

.email-details {
  height: 100vh;
  padding: 10px;
  flex: 1;
  background-color: #fff;
}

.hide-compose {
  transform: translate(0, 500px);
  transition: transform .2s;
  max-height: 0;
}

.minimize-compose {
  transform: translate(0, -15px);
  transition: transform .2s;
  max-height: 22px;
}

.compose-email {
  position: relative;
  transition: transform .4s;
  width: 500px;
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 1px solid rgba(211, 211, 211, 0.514);
}

.close-msg-btn {
  background-image: url(../img/email/close.svg);
  position: absolute;
  background-color: grey;
  background-repeat: no-repeat;
  right: 10px;
  width: 15px;
  height: 15px;
  background-size: 13px;
  top: 13px;
  border: none;
  cursor: pointer;
}

.minimize-msg-btn {
  background-image: url(../img/email/minimize.svg);
  position: absolute;
  background-color: grey;
  background-repeat: no-repeat;
  right: 33px;
  width: 15px;
  height: 15px;
  background-size: 13px;
  top: 13px;
  border: none;
  cursor: pointer;
}

.compose-title {
  font-size: 1rem;
  background-color: grey;
  padding: 10px 10px;
  margin: 0;
  color: white;
}

.compose-btn {
  width: 90px;
  height: 35px;
  border-radius: 7px;
  background-color: #0078d6;
  border: none;
  color: #fff;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}

textarea {
  border: none;
}

.filter-select {
  height: 25px;
}

.side-bar {
  width: 165px;
  margin-top: 50px;
  transition: transform .4s;
}

.hide {
  transform: translate(-500px, 0);
  transition: transform .2s;
  max-width: 0;
}

.compose-item {
  width: 118px;
  background-image: url(../img/email/plus.svg);
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 13px 8px;
  border: 1px solid #0078d6;
  color: #0078d6;
  text-align: end;
  border-radius: 20px;
  font-size: 1.3rem;
  padding: 5px;
  padding-right: 14px;
  cursor: pointer;
}

.email-input-search {
  width: 100px;
  height: 30px;
  font-size: 0.9rem;
  border: none;
  width: 115px;
  margin: 15px;
  border-radius: 5px;
  padding-left: 10px;
}

.side-nav-item {
  text-align: center;
  width: 140px;
  padding: 10px;
  border-bottom: 1px solid rgb(233, 232, 232);
  cursor: pointer;
}

.side-nav-item:hover {
  background-color: #0079d62a;
}

.isReaden {
  background-image: url(../img/email/envelope-readed.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  height: 17px;
  width: 17px;
}

.unReaden {
  background-image: url(../img/email/envelope-unread.svg);
  background-repeat: no-repeat;
  background-size: 15px;
  height: 17px;
  width: 17px;
  /* color: #0078d6; */
}

.isReaden.preview-subject {
  color: #000;
  background: none;
  width: 270px;
}

.unReaden.preview-subject {
  color: #0078d6;
  background: none;
  width: 270px;
}

.unReaden.preview-sender-name {
  font-weight: 600;
  background: none;
}

.isReaden.preview-sender-name {
  font-weight: 300;
  background: none;
}

.read-toggle-btn {
  height: 17px;
  width: 17px;
  justify-self: end;
  margin: 10px;
  grid-area: 1/2;
  text-align: end;
  cursor: pointer;
}

.read-toggle-btn:hover {
  background-size: 16px;
}

.preview-sender-name {
  margin: 5px 0;
  padding: 0;
  min-width: 90px;
  font-size: 1rem;
}

.preview-subject {
  margin: 5px 0;
  padding: 0;
  font-size: 1rem;
  white-space: nowrap;
  overflow: hidden;
}

.preview-body {
  margin: 5px 0;
  padding: 0;
  grid-column: span 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.preview-time {
  margin: 5px 0;
  padding: 0;
  font-size: 0.9rem;
  min-width: 114px;
  text-align: end;
  grid-area: 2/2;
  right: 17px;
  top: 3px;
}

.unReaden.preview-time {
  color: #0078d6;
  background: none;
}

.isReaden.preview-time {
  color: #000;
  background: none;
}

.inbox-icon {
  background-image: url(../img/email/inbox.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
}

.sent-icon {
  background-image: url(../img/email/sent.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
}

.starred-icon {
  background-image: url(../img/email/starred.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
}

.drafts-icon {
  background-image: url(../img/email/drafts.svg);
  background-size: 15px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
}