/* Flex */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-baseline {
    align-items: baseline;
}

.align-center {
    align-items: center;
}

.diraction-column {
    flex-direction: column;
}

.justify-around {
    justify-content: space-around;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-space-between {
    justify-content: space-between;
}

.align-flex-start {
    align-items: flex-start;
}

.align-flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.flex-grow {
    flex-grow: 1;
}

/* List */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.done {
    text-decoration: line-through;
}

/* colors */

.black {
    color: black !important;
}

.screen {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    min-height: 100vh;
    background-color: #ebebebce;
    cursor: pointer;
    transition: opacity .6s;
    z-index: 2;
}

/* over-flow */

.over-flow {
    overflow-y: scroll;
}

/* margin */

.margin-bottom-medium {
    margin-bottom: 50px;
}

.margin-top-small {
    margin-top: 10px;
}