/* Flex */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}
<<<<<<< HEAD
.align-baseline{
   align-items: baseline;
=======

.align-baseline {
    align-items: baseline;
}

.diraction-column{
    flex-direction: column;
>>>>>>> 27b72e78c82466005e06a5799e916886522dc4cf
}

.justify-around {
    justify-content: space-around;
}

.align-baseline {
    align-items: baseline;
}

<<<<<<< HEAD
.align-flex-start{
=======
.align-flex-start {
>>>>>>> 27b72e78c82466005e06a5799e916886522dc4cf
    align-items: flex-start;
}

.flex-grow {
    flex-grow: 1;
}

/* List */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

<<<<<<< HEAD
=======
>>>>>>>eb1ac62191ccce2e74809bc88dd1d7d8014afaab
>>>>>>> 27b72e78c82466005e06a5799e916886522dc4cf
