@font-face {
    font-family: fontAwsome;
    src: url(../fonts/font-awsome/FA-Brands-Regular-400.otf);
}

.note-list-container {
    margin: 0 auto;
    column-count: 5;
    column-gap: 20px;
    column-width: 240px;
    padding: 10px;
}

.note-container {
    position: relative;
    width: 240px;
    padding: 8px;
    float: left;
    cursor: pointer;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.innerNote {
    max-width: 240px;
    padding: 10px 10px 35px 10px;
    background-color: #fff;
    min-height: 4em;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.note-container:hover .innerNote {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.noteAdd-container {
    max-width: 400px;
    border: 1px solid black;
    margin: 50px auto;
    padding: 5px;
}

.note-input-radio {
    width: 15px;
}

#txt-add {
    display: none;
}

#img-add {
    display: none;
}

#todos-add {
    display: none;
}

.note-tools-container {
    position: absolute;
    bottom: 10px;
    left: 15px;
}

.note-details-tools-container {
    /* display: block */
}

.note-tools >* {
    margin-left:15px;
    font-size: 1rem;
    cursor: pointer;
}


.font-awsome-pinned{
    margin-top:2px;
}
.font-awsome-color{
    margin-top:1px;
    position: relative;
}

.color-plate{
    right: -278%;
    position: absolute;
    width:100px;
    height: 40px;
    border:1px solid red;
    z-index: 3;
}

.details-container {
    position: fixed;
    margin: 0 auto;
    left: 25%;
    top: 40%;
    display: flex;
    min-height: 130px;
    width: 600px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid black;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

