img {
    width: 100%;
}

p {
    word-break: break-all
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: 0;
}

*:focus {
    outline: none;
}