@import "normlize.css";
@import "helpers.css";
@import "email.css";
@import "note.css";
@import "setting.css";
body {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    min-height: 100vh;
}

.nav-bar-container {
    background-color: #f6fe88;
}

.nav-bar {
    font-size: 1.5rem;
    padding: 20px 0;
    margin: 0;
    color: #fff;
}
.nav-bar>*{
    margin-left:40px;
}
.nav-bar>*:hover{
    color:black;
}
.active{
    color:black;
}

.footer {
    bottom: 0;
    height: 90px;
    background-color: #f6fe88;
    color: #fff;
}

.home-container {
    background-color: #000;
}

video {
    object-fit: cover;
    width: 100%;
}

.home-title {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5rem;
    letter-spacing: 0.8rem;
}

.home-title span {
    display: inline-block;
    animation: animate 1s linear forwards;
}

.home-title span:nth-child(1) {
    animation-delay: 1s;
}

.home-title span:nth-child(2) {
    animation-delay: 1.5s;
}

.home-title span:nth-child(3) {
    animation-delay: 1.75s;
}

.home-title span:nth-child(4) {
    animation-delay: 2s;
}

.home-title span:nth-child(5) {
    animation-delay: 2.25s;
}

.userMsg {
    background-color: white;
    color: black;
    height: 60px;
    width: 350px;
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 25px;
    padding: 10px;
    border-radius: 10px;
    border: 5px solid #66cdaa
}

.filter{
    margin:0 auto;
    border: none;
    height: 40px;
    width: 290px;
    padding-left: 10px;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    100% {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
}